# COPY THIS FILE TO .env AND FILL IN THE VALUES
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_SEPAY_API_TOKEN=your_sepay_api_token
VITE_TCBS_API_KEY=your_tcbs_api_key
VITE_TCBS_ACCOUNT_NO=your_tcbs_account_no
